body{
  margin:0;
  overflow:hidden;
}
.block{

  display: block;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  box-shadow: 6px 6px 6px #16f7ea;

  background-color: #E74C3C;
  position: absolute;
  top: 43%;
  left: 47%;
  opacity: 0;
  background-position: center;


}